In [1]:
import numpy as np
from sklearn.svm import SVR
import pandas as pd
from sklearn.preprocessing import  MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
#from matplotlib.pylab import rcParams

In [2]:
def parser(x):
    return datetime.strptime(x,'%Y')

In [3]:
df = pd.read_csv('mel_data_world.csv', header=0, parse_dates=[3], squeeze=True, date_parser=parser)[:-2]

In [4]:
del df['Area']
del df['Item']
del df['Element']
del df['Source']
del df['Unit']
df.head()

        Year       Value
0 1961-01-01  65345.0181
1 1962-01-01  66301.1211
2 1963-01-01  67010.1455
3 1964-01-01  67925.5358
4 1965-01-01  69192.9603

In [5]:
X = df.drop(['Value'], axis = 1)
y = df['Value']
y=np.log1p(y)

In [6]:
y.tail()

54    11.490786
55    11.501405
56    11.505866
57    11.512123
58    11.521242
Name: Value, dtype: float64

In [7]:
train = df[:int(len(df)*.92)]
test = df[len(train):]
X= train[['Year']]
y= train.iloc[:,1]

In [7]:
X_train=X[:int(len(df)*.92)]
y_train=y[:int(len(df)*.92)]
X_test=X[int(len(df)*.92):]
y_test=y[int(len(df)*.92):]

In [8]:
#print(X_train.head())
#print(y_train.head())
#print(X_test.head())
print(y_test.tail())

54    11.490786
55    11.501405
56    11.505866
57    11.512123
58    11.521242
Name: Value, dtype: float64

In [9]:
from sklearn.svm import SVR
from sklearn import svm

In [10]:
# First, let's choose which kernel is the best for our data

for k in ['linear','poly','rbf','sigmoid']:
    clf = svm.SVR(kernel=k)
    clf.fit(X_train, y_train)
    confidence = clf.score(X_train, y_train)
    print(k,confidence)

linear 0.5314289304850022
poly 0.47819021824345176
rbf 0.5539388491518102
sigmoid -1430.3995104956932

In [11]:
Svr=SVR(kernel='rbf', C=1, gamma= 0.5)

In [12]:
Svr.fit(X_train,y_train)
print(Svr.score(X_train,y_train))

0.409626446617971

In [13]:
y_pred = Svr.predict(X_test)
print(y_pred)

[11.30774866 11.30774866 11.30774866 11.30774866 11.30774866]

In [19]:
y_pred

array([11.30774866, 11.30774866, 11.30774866, 11.30774866, 11.30774866])

In [15]:
from math import sqrt
from sklearn import metrics

maeerror = sqrt(metrics.mean_absolute_error(y_test,y_pred)) #calculate MAE
print('MAE value of the SVR Model is:', maeerror)
rmseerror = sqrt(metrics.mean_squared_error(y_test,y_pred)) #calculate rmse
print('RMSE value of the SVR Model is:', rmseerror)
mapeerror = np.mean(np.abs((y_test - y_pred) / y_test)) * 100
print('MAPE value of the SVR Model is:', mapeerror)

MAE value of the SVR Model is: 0.445573604897019
RMSE value of the SVR Model is: 0.19879858873068118
MAPE value of the SVR Model is: 1.7253781639572827